/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    margin: 10px 0;
}

/* Galerie-Stile */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.gallery img {
    max-width: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    border-color: #444;
}